{% extends 'layout.twig' %}

{% block body %}

<h1>Teste de XSS</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quidem pariatur, dicta at aperiam numquam dolorem aspernatur, corrupti adipisci praesentium atque impedit odio fuga explicabo ipsa, laudantium placeat ut modi!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti deserunt velit rerum nesciunt dolor atque, incidunt a vero, expedita tenetur eum soluta doloribus repudiandae mollitia! Inventore corporis cupiditate dolorum perspiciatis.</p>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum cupiditate iure voluptate sed. Nesciunt nostrum harum quaerat soluta cupiditate facere quia explicabo dolore magni amet officia neque, totam impedit eaque!</p>

{% endblock %}
